.col {
    display: flex;
    padding: 10px 0;
}
    /* &:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
}
} */